<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/adduser}" th:object="${user}"  method="post">
    <label for="username">Username</label>
    <input type="text" th:field="*{username}" name="username" id="username"/>
    <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
    <label for="password">Password</label>
    <input type="password" th:value="*{password}" name="password" id="password"/>
    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
    <input type="submit" value="Add user"/>
</form>
</body>
</html>