<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/topic/createtopic}" th:object="${topic}"  method="post">
    <label for="topicName">Topic Name</label>
    <input type="text" th:field="*{topicName}" name="topicName" id="topicName"/>
    <span th:if="${#fields.hasErrors('topicName')}" th:errors="*{topicName}"></span>
    <label for="topicPoints">Topic Points</label>
    <input type="int" th:value="*{topicPoints}" name="topicPoints" id="topicPoints"/>
    <span th:if="${#fields.hasErrors('topicPoints')}" th:errors="*{topicPoints}"></span>
    <label for="topicContent">Topic Content</label>
    <input type="textfield" th:value="*{topicContent}" name="topicContent" id="topicContent"/>
    <span th:if="${#fields.hasErrors('topicContent')}" th:errors="*{topicContent}"></span>
    <input type="submit" value="Create Topic"/>
</form>
</body>
</html>