<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:object="${topics}">
    <!-- list of topics -->
    <div th:each="topic : ${topics}">
        <a th:href="@{/topic/{id}(id=${topic.id})}" th:text="${topic.topicName}"/>
        <div th:text="${topic.topicContent}"/>
        <hr>
    </div>

    <!-- add topic -->
    <div th:switch="${session.loggedinuser}">
        <div th:case="null"/>
        <div th:case="*">
            <p><a th:href="@{/topic/createtopic}" th:object="${board}">Add topic</a></p>
        </div>
    </div>
    <!--<p><a th:href="@{{id}/createtopic(id=${board.id})}">Add topic</a></p>-->
    <!--<a th:href="@{/board/{id}(id=${board.id})}" th:text="${board.name}"/>-->
</div>
</body>
</html>
