<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="board-list" th:switch="${boards}" class="board-list">
    <!-- list of boards -->
    <div th:each="board : ${boards}" th:id="|board-${board.id}|">
        <h3><a th:href="@{/board/{id}(id=${board.id})}" th:text="${board.name}" th:object="${board}"/></h3>
        <div th:text="${board.description}"/>
        <div th:text="|Topics: ${board.getTopicCount()}|"></div>
        <div th:if="${session.loggedinuser}">
            <div th:if="${session.loggedinuser.role == 'ADMIN'}">
                <!--<a class="edit-board" th:id="|edit-${board.id}|" th:href="@{|/board/${board.id}/edit|}">edit</a>-->
                <a th:href="@{|/board/${board.id}/edit|}">edit</a>
                <a th:href="@{|/board/${board.id}/delete|}">delete</a>
            </div>
        </div>
        <hr>
    </div>
</div>
</body>
</html>