<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="stylesheet" href="../static/styles.css">
</head>
<body>
<div class="boards" th:fragment="board-list" th:switch="${boards}">
    <!-- list of boards -->
    <div><h2>Boards</h2></div>
    <div class="board__card" th:each="board : ${boards}">
        <a th:href="@{/board/{id}(id=${board.id})}" th:text="${board.name}" th:object="${board}"/>
        <p th:text="${board.description}"/>
    </div>

    <!-- add board -->
    <div th:switch="${session.loggedinadmin}">
        <div th:case="null"/>
        <div th:case="*">
            <p><a href="/board/addboard">Add board</a></p>
        </div>
    </div>
    <!--<td><a th:href="@{/delete/{id}(id=${movie.id})}">Delete</a></td>-->
</div>
</body>
</html>