<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Boards</h2>
<div th:fragment="board-list" th:switch="${boards}" class="board-list">
    <div th:each="board : ${boards}">
        <a th:href="@{/board/{id}(id=${board.id})}" th:text="${board.name}"/>
        <p th:text="${board.description}"></p>
    </div>
    <p><a href="/board/addboard">Add board</a></p>
    <!--<td><a th:href="@{/delete/{id}(id=${movie.id})}">Delete</a></td>-->
</div>
</body>
</html>