<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            var id;
            var tmp;
            $(".edit-topic").click(function() {
                id = this.getAttribute("id").substr(5);
                $("#topic-"+id).load("topic/" + id + "/edit");
            });
        });
    </script>
</head>
<body>
<div>Back to <a th:href="@{/}" th:text="boardlist"></a></div>
<h2 th:text="${board.name}"></h2>
<div th:object="${topics}">
    <!-- list of topics -->
    <div th:each="topic : ${topics}">
        <h3><a th:href="@{/topic/{id}(id=${topic.id})}" th:text="${topic.topicName}"/></h3>
        <div th:text="|by ${topic.user.username}|"/>
        <div th:text="|Comments: ${topic.getCommentCount()}|"></div>
        <div th:if="${session.loggedinuser}">
            <div th:if="${session.loggedinuser.role == 'ADMIN'}">
                <a th:class="edit-topic" th:id="|edit-${topic.id}|" th:href="@{|/topic/${topic.id}/edit|}">edit</a>
                <a th:href="@{|/topic/${topic.id}/delete|}">delete</a>
            </div>
        </div>
        <hr>
    </div>
</div>

<!-- add topic -->
<div th:switch="${session.loggedinuser}">
    <div th:case="null"/>
    <div th:case="*">
        <p><a th:href="@{/topic/createtopic}" th:object="${board}">Add topic</a></p>
    </div>
</div>
</body>
</html>
