<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body>
<h2>Signup for an account</h2>
<form action="#" th:action="@{/signup}" th:object="${user}"  method="post">
    <label for="username">Username</label>
    <input type="text" name="username" id="username" th:field="*{username}"/>
    <br>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" th:value="*{password}"/>
    <br>
    <div th:object="${errors}">
        <div th:each="e: ${errors}" th:text="${e}"></div>
        <br>
    </div>

    <input type="submit" value="Signup"/>
</form>
</body>
</html>