<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:object="${topic}">
    <a th:href="@{/}" th:text="Kosmósinn"></a>
    <div>Back to <a th:href="@{/board/{id}(id=${topic.board.id})}" th:text="${topic.board.name}"></a></div>
    <h2 th:text="${topic.topicName}"></h2>
    <a th:href="@{/user/{id}(id=${topic.user.id})}" th:text="${topic.user.username}"/><br>
    <div th:text="${topic.topicContent}"></div><br>
    <hr>
    </div>

    <div th:object="${comments}">
        <div th:each="comment : ${comments}">
            <a th:href="@{/user/{id}(id=${comment.user.id})}" th:text="${comment.user.username}"/><br>
            <div th:text="${comment.commentText}"></div>
            <hr>
        </div>
    </div>

    <div th:if="${session.loggedinuser != null}">
        <div th:insert="add-comment::add-comment"/>
    </div>

</body>
</html>