<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script th:src="@{/js/topic-content.js}"></script>
</head>
<body>
    <div th:object="${topic}">
        <div>Back to <a th:href="@{/board/{id}(id=${topic.board.id})}" th:text="${topic.board.name}"></a></div>
        <div class="topic-header">
            <h2 th:text="${topic.topicName}"></h2>
            <div th:text="${topic.user.username}"></div>
            <div th:text="${topic.topicContent}"></div>
        </div>
        <div th:if="${session.loggedinuser}">
            <div th:if="${topic.user.username == session.loggedinuser.username} OR ${session.loggedinuser.role == 'ADMIN'}">
                <a th:class="edit-topic" th:id="|edit-${topic.id}|" th:href="@{|/topic/${topic.id}/edit|}">edit</a>
                <a th:href="@{|/topic/${topic.id}/delete|}">delete</a>
            </div>
        </div>
        <hr>
    </div>

    <div th:object="${comments}">
        <div th:each="comment : ${comments}">
            <div th:id="|c-${comment.id}|">
                <div th:text="${comment.user.username}"></div>
                <div th:id="|ct-${comment.id}|" th:text="${comment.commentText}"></div>
                <div th:if="${session.loggedinuser}">
                    <div th:if="${comment.user.username == session.loggedinuser.username} OR ${session.loggedinuser.role == 'ADMIN'}">
                        <div class="edit-text-area" th:id="|eta-${comment.id}|" th:insert="edit-comment::edit-comment"/>
                        <a class="edit-comment" th:href="|#${comment.id}|" th:id="|ec-${comment.id}|">edit</a>
                        <a class="delete-comment" th:href="@{deletecomment/{id}(id=${comment.id})}" th:id="|d-${comment.id}|">delete</a>
                    </div>
                </div><hr>
            </div>
        </div>
    </div>

    <div th:if="${session.loggedinuser != null}">
        <div th:id="add-comment-box" th:insert="add-comment::add-comment"/>
        <a th:id="add-comment-text" href="#">comment</a>
    </div>

</body>
</html>