<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/}" th:text="Kosmósinn"></a>

<h1 th:text="${user.username}"></h1>

<h3>Topics created</h3>
<div th:object="${topics}">
    <div th:each="topic : ${topics}">
        <a th:href="@{/topic/{id}(id=${topic.id})}" th:text="${topic.topicName}"/>
        <div th:text="${topic.topicContent}"/>
        <hr>
    </div>
</div>

<h3>Comments added</h3>
<div th:object="${comments}">
    <div th:each="comment : ${comments}">
        <div th:text="${comment.topic.topicName}"/>
        <div th:text="${comment.commentText}"/>
        <hr>
    </div>
</div>
</body>
</html>