<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
   //
   //     $(document).ready(function() {
   //         var id;
   //         var tmp;
   //         $(".edit-board").click(function() {
   //             id = this.getAttribute("id").substr(5);
   //             tmp = $("board-"+id);
   //             $("#board-"+id).load("board/" + id + "/edit");
   //             console.log(tmp);
   //         });
   //     });
    </script>
</head>
<body>
<div th:insert="login-header::login-header"/>
<div th:insert="board-list::board-list"/>
</body>
</html>